@import "../../../theme/app.variables";


.bottom-margin {
  margin-bottom: 60px;

  .product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

}


.bottom-footer {
  bottom: 0px;
  position: fixed;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total{
      font-weight: 700;
      padding: 0px 10px;
    }

  }
}