//
// Variables
//
//

// colors
$black: #000;
$gray: #C0C0C0;
$fontColorDefault: rgba(0, 0, 0, 0.8);
$textSelectionColor: $gray;
$sidebarColor: #34495e;
$primary: #009688;
$red: #dd0000;


//size

$x-small-size: 5px;
$small-size: 10px;
$medium-size: 15px;
$large-size: 25px;
$x-large-size: 40px;
