@import '../../styles/base/_variables.scss';

page-home {
    background: #eee;

    .sidebar {
        background: $sidebarColor;
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;

    }
    
    .right {
        
        height: 100%;
        margin-left: 250px;

        md-toolbar:not(.md-menu-toolbar) {
            background: #fff;
            color: #555;
        }


    }


}
