@import '../../styles/base/_variables.scss';

page-home {
    background: #eee;

    .sidebar {
        background: $sidebarColor;
        width: 250px;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        color: #fff;
        
        md-content{
            .menu-item{
                margin: 0px;
                padding: 7px 15px;
                border-radius: 0px;
                color: #fff;
                text-align: left;
                text-transform: none;
                display: flex;
                align-items: center;
            }
            
            .glyphicon{
                font-size: 20px;
                //color: #aaaaaa;
                padding-right: 15px;
            }
            
        }

    }
    
    .right {
        
        height: 100%;
        margin-left: 250px;

        md-toolbar:not(.md-menu-toolbar) {
            background: #fff;
            color: #555;
        }


    }


}
