@import "../../../theme/app.variables";

.bottom-margin {
  margin-bottom: 60px;
}

.menu-content {
  position: relative;

  .add-product {
    top: -50px;
    right: 0;
    position: absolute;
    z-index: 1;
  }

  .like-container{
    display: flex;
    align-items: center;
    margin-top: -15px;


    button{
      padding: 10px 10px 10px 0px;
    }

    .liked-container{
      display: flex;
      align-items: center;

      .liked-number{
        padding-left: 5px;
        margin-bottom: -2px;
      }

    }

  }

}



.bottom-footer {
  bottom: 0px;
  position: fixed;

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .order-size {
      font-weight: 700;
      padding: 0px 10px;
    }

  }
}
